<div class="container">
    <div class="form-container p-3">
        <h1>Profile</h1>
        <form [formGroup]="formGroup" (ngSubmit)="update()">
          <app-input [formGroup]="formGroup" [control]="'firstname'" [label]="'First name'" />
            <app-input [formGroup]="formGroup" [control]="'lastname'" [label]="'Surname'" />
            <app-input [formGroup]="formGroup" [control]="'email'" [label]="'Email'" [type]="'email'" [readOnly]="true" />
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>
</div>