<div class="container">
    <div class="form-container p-3">
        <h1>Student Login</h1>
        <form [formGroup]="formGroup" (ngSubmit)="login()">
              <app-input [formGroup]="formGroup" [control]="'email'" [label]="'Email'" [type]="'email'" />
              <app-input [formGroup]="formGroup" [control]="'password'" [label]="'Password'" [type]="'password'" />
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <div class="d-flex justify-content-end">
            <a [routerLink]="'/password/recovery'">Forgot password?</a>
          </div>
          <div>
            <p>
              New user?
            <a [routerLink]="'/register'"> Register</a>
          </p>
          </div>
    </div>
</div>