<div class="container">
    <div class="form-container p-3">
        <h1>Register</h1>
        <form [formGroup]="formGroup" (ngSubmit)="register()">
              <app-input [formGroup]="formGroup" [control]="'firstname'" [label]="'First name'" />
              <app-input [formGroup]="formGroup" [control]="'lastname'" [label]="'Surname'" />
              <app-input [formGroup]="formGroup" [control]="'email'" [label]="'Email'" [type]="'email'" />
              <app-input [formGroup]="formGroup" [control]="'password'" [label]="'Password'" [type]="'password'" />
            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Register</button>
          </form>
          <div>
            <p>Already have an account? <a [routerLink]="'/login'"> Login</a></p>
          </div>
    </div>
</div>