<div class="container">
    <div class="form-container p-3">
        <h1>Enter your email below</h1>
        <form [formGroup]="formGroup" (ngSubmit)="getCode()">
              <app-input [formGroup]="formGroup" [control]="'email'" [label]="'Email'" [type]="'email'" />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="mt-3">
            <p>
              Back to 
            <a [routerLink]="'/login'"> login</a>
          </p>
          </div>
    </div>
</div>